{% extends 'base.html' %} {% block title %}Qxf2 Trainer: Tutorial{% endblock %} {% block content %}

<p class="text-justify">We expect this exercise to take you somewhere between 15-minutes to 2 hours. If you take more than two hours, please post what you tried along wtih error messages to our slack channel.</p>

<p class="text-justify">In keeping with our attempt to help you think in different ways, we have listed three approaches that work. There is no shame or pride in choosing anyone of them. Just choose the method you are comfortable with and proceed.</p>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/approach_icon.png" width="60" height="60"> Approach 1: Try it out yourself
</h3>
<ol>
    <li>We'd like to promote independent thinking and problem solving. So if you feel ready, try to install Python without referring to any documentation, go for it!</li>
</ol>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/approach_icon.png" width="60" height="60"> Approach 2: Google for instructions
</h3>
<ol>
    <li>Google for visual studio code install 'your operating system name'
    </li>
    <li>Follow the instructions</li>
</ol>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/approach_icon.png" width="60" height="60"> Approach 3: follow instructions
</h3>
<ol>
    <li>Visit <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a> to install visual studio code for your operating system</li>
    <li>Visit <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a> to install python extension for vscode</li>
    <li>Start python coding on vscode</li>
    <li>Vist <a href="https://marketplace.visualstudio.com/items?itemName=ms-python.python">https://marketplace.visualstudio.com/items?itemName=ms-python.python</a> help documentation for any questions</li>
</ol>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/exercises_icon.png" width="60" height="60"> Exercise
</h3>
<p class="text-justify">Once you are done, write some python code or import any python project on vscode</p>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/verify_dummy_image.png" width="60" height="60"> Verify your setup
</h3>

<p class="text-justify">After you are done with the exercise listed above, it is time to verify your vscode setup. It is a good habit to take small steps and verify them immediately. This will help you avoid getting stuck later on. To verify your setup execute python code on
    vscode. You should see python code runs on vscode with out any errors
</p>

<p>&nbsp;</p>
<form action="did-you-complete">
    <button type="submit" class="btn btn-danger form-actions">Let's move on</button>
</form>
{% endblock %}