{% extends 'base.html' %} {% block title %}Qxf2 Trainer: Tutorial{% endblock %} {% block content %}

<p class="text-justify">We expect this exercise to take you somewhere between 15-minutes to 2 hours. If you take more than two hours, please post what you tried along wtih error messages to our slack channel.</p>

<p class="text-justify">In keeping with our attempt to help you think in different ways, we have listed three approaches that work. There is no shame or pride in choosing anyone of them. Just choose the method you are comfortable with and proceed.</p>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/approach_icon.png" width="60" height="60"> Approach 1: Try it out yourself
</h3>
<ol>
    <li>We'd like to promote independent thinking and problem solving. So if you feel ready, try to install Visual Studio Code for Python without referring to any documentation, go for it!</li>
</ol>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/approach_icon.png" width="60" height="60"> Approach 2: Google for instructions
</h3>
<ol>
    <li>Google for Visual Studio Code for Python install 'your operating system name'
    </li>
    <li>Follow the instructions</li>
</ol>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/approach_icon.png" width="60" height="60"> Approach 3: follow instructions
</h3>
<ol>
    <li>Visit <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a> to install Visual Studio Code for your operating system</li>
    <li>Visit <a href="https://marketplace.visualstudio.com/items?itemName=ms-python.python">https://marketplace.visualstudio.com/items?itemName=ms-python.python</a> to install Python extension for Visual Studio Code</li>
    <li>Start Python coding on Visual Studio Code</li>
</ol>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/exercises_icon.png" width="60" height="60"> Exercise
</h3>
<p class="text-justify">Once you are done, create a new file using Visual Studio Code, write <span class="cmdline">print "Hello my name is YOUR_NAME"</span> in it and save the file. Make sure there are no spaces in front of the 'p' of print. Give it a name <span class="cmdline">my_first_step.py</span>. Now figure out how to execute the file using Visual Studio Code.</p>
<p>&nbsp;</p>
<h3 class="thin-text">
    <img src="https://qxf2.com/assets/img/verify_dummy_image.png" width="60" height="60"> Verify your setup
</h3>

<p class="text-justify">After you are done with the exercise listed above, try writing down what you just acheived in 2-3 sentences. Recapping and verbalizing what you just did is an under-rated skill when you are learning something new. So don't skip this step! By the way, if you are new to coding, you took what looks like one small step for a programmer but it was (to paraphrase the famous Moon quote) a giant leap for you! 
</p>

<p>&nbsp;</p>
<form action="did-you-complete">
    <button type="submit" class="btn btn-danger form-actions">Let's move on</button>
</form>
{% endblock %}