{% extends 'base.html' %}

{% block title %}Qxf2 Trainer: What to expect{% endblock %}

{% block content %}

<h3 class="thin-text top-space">
    <img src="https://qxf2.com/assets/img/what_to_expect.png" width="60" height="60">
    What to expect
</h3>

<p>At the end of this mini-tutorial, you can expect to have setup Git Bash on your machine.</p>

<p class="text-justify">Most tutorials and training material expect things to go smoothly. Not us! We are experienced
    professional QA and we know that a lot can go wrong during setup. And many times it is not the learner's fault. So
    before we begin, here is what to expect as you go through the tutorial.
<ol>
    <li>Beginners usually have trouble with setup. That's ok. There is help.</li>
    <li>Over time, you will develop a mental catalogue of problems that come with install and setup.</li>
</ol>
</p>
<h3 class="thin-text top-space">
    <img src="https://qxf2.com/assets/img/when_you_hit_an_issue.png" width="60" height="60">
    When you hit an issue
</h3>
<p class="text-justify"> When you run into an issue, don't panic. Here is what you can try:
<ol>
    <li>Take a minute to try and read through the error message. It's ok if seems like gibberish ... just make the
        attempt.</li>
    <li>Try and identify the key line in the error. If you cannot, reach out to us on Skype.</li>
    <li>Google for the phrase 'Git Bash install <your OS name> key line in error' e.g.: 'git bash install windows
            Permission Denied Error'</li>
    <li>Try out the suggestions mentioned in the Google search results even if you don't fully understand them.</li>
    <li>After you have tried your best, contact Qxf2 on our public Skpye Channel</li>
</ol>
</p>
<p>&nbsp;</p>
<form action="tutorial">
    <button type="submit" class="btn btn-danger form-actions">I'll try. Show me the instructions!</button>
</form>
{% endblock %}