{% extends 'base.html' %}

{% block title %}Qxf2 Trainer: Tutorial page{% endblock %}

{% block content %}
<p class="text-justify">Welcome to Qxf2 Trainer - this screen is the start of your journey towards becoming a more technical tester. This training program has been created by testers for other testers. We have made many tweaks to our training program to incease the odds that you actually stick to this program. 
<br><br>

<h3 class="thin-text"><img src="https://qxf2.com/assets/img/setup_icon.png" width="60" height="60"> SETUP</h3
    ><p class="text-justify">There are many other nice features to our program that you will discover as you work through our exercises. But before you begin, please follow all the instructions in the setup section of this page. Don't be scared if you have tried previously and failed. We wrote the setup guides assuming things would go wrong and that you would need help troubleshooting problems.
<br><br>In this section, you will be guided to setup your environment. Proceed in order. Click on the first link/task that you are yet to complete.</p>
    <ol>
        <li><a href="../python-setup/before-you-begin">Setup Python</a></li>
        <li class="text-muted">Setup Visual Studio Code</li>
        <li class="text-muted">Setup webdriver for Chrome</li>
        <li class="text-muted">Setup git bash</li>
        <li class="text-muted">Sign up for a free WordPress account</li>
        <li class="text-muted">Sign up for a free GitHub account</li>
    </ol>
<br><br>

<h3 class="thin-text"><img src="https://qxf2.com/assets/img/exercises_icon.png" width="60" height="60"> EXERCISES</h3>
<p class="text-justify">We have tried our best to keep these exercises relevant and creative. Unlike most courses, we will not steadily build up your theoretical knowledge and then give you a practical problem. Instead, we will steadily present you with practical (and useful!) problems and hope that your theoretical knowledge increases with practice. For example, we won't teach you Python from scratch but will give you enough help to modify Python code based on patterns you observe.</p>
<ol>
        <li class="text-muted">Clone a GitHub repository and run an automates test</li>
        <li class="text-muted">Edit the above test to take values that suit you</li>
        <li class="text-muted">Publish your resume on your WordPress site</li>
        <li class="text-muted">Contribute to open source by fixing an issue on GitHub</li>
        <li class="text-muted">Fetch website data without using a browser</li>
        <li class="text-muted">Hook up your automation with a test case manager and a CI tool</li>
    </ol>
<p class="top-space">&nbsp;</p>
{% endblock %}